@import "layout.css";
@import "nav.css";

/* grid container */
#grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 69px;
  grid-template-areas:
  "nav"
  "post"
}

.post-info {
  text-align: center;
}

/* content */
#post {
  padding-top: 1.8rem;
}

@media (min-width: 500px) {
  #post {
    padding: 4rem 8rem;
  }
}

.author_wrapper {
  display:flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 100%;
  width: 100%;
  margin-top: 2.5rem;
}

.author_byline {
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-basis: 100%;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  vertical-align: top;
}

@media (min-width: 500px) {
  .author_byline {
    margin: 0;
  }
}

.author_name {
  padding-left: 1rem;
}

.author_image {
  border-radius: 50%;
}

.author_bio_text {
  font-size: 0.75rem;
  line-height: 1rem;
}
