@import "layout.css";
@import "nav.css";

/* grid container */
#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(30px, auto);
  gap: 6px;
  grid-template-areas:
  "nav nav"
  "top-post top-post"
  "newsletter newsletter"
  "post-1 post-2"
}

@media (min-width: 600px) {
  #grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 60px auto auto 5px;
    gap: 6px;
    grid-template-areas:
    "nav nav nav nav"
    "top-post top-post post-1 post-1"
    "top-post top-post post-2 post-2";
  }
}

/* content */
#top-post {
  grid-area: top-post;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #fffaf0;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffaf0;
  min-height: 160px;
}

#post-1 {
  grid-area: post-1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-2 {
  grid-area: post-2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* tile styling */
.text-gradient {
  background-color: black;
  min-width: 60%;
  max-width: 500px;
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
  border-radius: 5px;
}

.link {
  outline: none;
  text-decoration: none;
  color: #fffaf0;
}

.link:visited {
  color: #fffaf0;
}

.link:hover {
  color: #bdbdbd;
}

.post-info {
  text-align: center;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .post h4 {
    font-size: 1.5em;
  }

  .post .post-info {
    font-size: 0.8em;
  }

  .text-gradient {
    padding: 5px 15px;
    margin: 5px;
  }
}