* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: #fffaf0;
  color: #222;
}

/* Typography */
h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.05em;
  margin: 0.2em 0;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 1.9em;
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1em;
  margin: 1em 1em;
}

a {
  text-decoration: none;
}

strong {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
}

em {
  font-family: 'Montserrat', sans-serif;
  font-style: 500i;
  letter-spacing: 0.05em;
}

blockquote {
  font-style: italic;
  line-height: 2;
  letter-spacing: 0.05em;
  padding: 10px 30px;
}

blockquote:first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

/* Buttons */
.btn {
  width: 150px;
  padding: 10px 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}

.btn-primary {
  background-color: transparent;
  border: 2px solid #bdbdbd;
  border-radius: 3px;
  color: #bdbdbd;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #bdbdbd;
  border: 2px solid #bdbdbd;
  border-radius: 3px;
  color: black;
  transform: scale(0.9);
}

.btn-primary:active {
  background-color: #bdbdbd;
  border: 2px solid #bdbdbd;
  border-radius: 3px;
  color: black;
  transform: scale(0.9);
}
